<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      body {
        background-color: white;
        color: black;
      }

      .dark-mode {
        background-color: black;
        color: white;
      }
    </style>
  </head>

  <body>
    <% if(flag==="add"){ %>
    <h1>Thanks for Adding a Video</h1>
    <% } else{ %>
    <h1>THANKS FOR UPVOTING !!</h1>
    <% } %>
  </body>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      var theme = localStorage.getItem("theme");
      document.body.classList.add(theme);
    });
  </script>
</html>
